.git
.venv
.claude
**/__pycache__
**/.ipynb_checkpoints
data
docs
frontend
backend
ml/mlflow
ml/artifacts
ml/notebooks
ml/tests
ml/scripts
dataset/*
!dataset/external
dataset/external/*
!dataset/external/calendar.csv
!dataset/external/school_holidays_moscow.csv
!dataset/external/correction_factors.json
